/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: Mulish;
    color: #405261;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: #F9FAFF;
    padding: 10px 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #405261;;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links li a:hover {
    background-color: #B5B2B2;
}

.logo img{
    height: 40px;
    width: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 32px;
    justify-content: center;
}

.valores{
    width: 45%;
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.column {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 0 25%; /* Ancho de las columnas, ajusta el porcentaje según necesites */
    margin-bottom: 20px; /* Espacio entre filas */
}

.column div{
    font-weight: 700;
    margin-top: 8px;
    font-size: 20px;
}

.column a {
    text-decoration: none;
    margin: 0px 8px;
}
/* Estilos específicos para imágenes de perfil */
.perfil-img {
    width: 100px; /* Tamaño más pequeño */
    height: 100px; /* Mantén la altura igual para que sea cuadrada */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente si es necesario */
    border: 2px solid #333; /* Opcional: borde para destacar la imagen */
}

.servicio-img{
    max-height: 150px;
    max-width: 300px;
}

.hero h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 0px 20px;
}

.hero p {
    font-size: 24px;
    margin: 10px 20px;
    width: 50%;
}

#about h2{
    font-size: 24px;
    font-weight: 800;
    margin: 16px 0px 0px;
}

#about p{
    font-size: 18px;
    margin: 10px 0px;
    text-align: justify;
}

.btn.primary {
    color: #fff;
    background: #0056b3; /* Color del botón */
    padding: 8px 24px;
    text-decoration: none;
    border-radius: 8px;
    width: 150px;
    margin: 20px;
    text-align: center;
}

.services, .about, .contact {
    padding: 20px;
    text-align: center;
}

.services h2, .about h2, .contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.service-item {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hero {
    background-image: url('Imagenes/background-home.jpg');
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}

.contact {
    margin: 20px;
    text-align: center;
}

.contact-info {
    list-style-type: none; /* Elimina los puntos de la lista de contacto */
    padding: 0; /* Elimina el relleno interior de la lista */
    margin: 10px 0; /* Ajusta el margen superior e inferior de la lista */
}

.contact-info li {
    margin: 5px 0; /* Espaciado entre cada elemento de la lista */
}

.map-container {
    margin: 20px auto;
    text-align: center;
}



/*Banner*/
.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    width: 100%;
    min-width: 100%; /* Asegura que cada slide ocupe el 100% */
    box-sizing: border-box;
    padding: 60px 20px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:focus {
    outline: none;
}

.active {
    display: block;
}
.mantenimiento{
    padding-top: 8px;
    text-align: center;
}
.mantenimiento img{
    max-width: 100%;
    max-height: 500px;
}

#about{
    margin: 0px 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px;
    transition: 0.3s;
}

/* Ocultar el checkbox visualmente */
#menu-toggle {
    display: none;
}

@media (max-width: 700px) {
    .hero p {
        font-size: 22px;
        width: 100%;
    }
    .nosotros{
        flex-direction: column;
    }
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        height: 100%;
        width: 50%;
        background-color: #F9FAFF;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        margin: 15px 0;
    }

    /* Mostrar el menú al activar el checkbox */
    #menu-toggle:checked + .hamburger + nav .nav-links {
        transform: translateX(0);
    }

    /* Menú hamburguesa visible solo en pantallas pequeñas */
    .hamburger {
        display: flex;
        margin-left: auto;
    }

    .column{
        flex: 0 0 85%;
    }

    .column p{
        text-align: justify;
    }

    .valores{
        width: 100%;
    }
}
/*FOOTER*/

.footer {
    background-color: #1d2b37;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer a{
    color: #fff;
}
.footer {
    background-color: #1d2b37;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Para separar los elementos */
    align-items: center; /* Centrar los elementos verticalmente */
    padding: 10px 20px;
    text-align: left;
}

.footer a {
    color: #fff;
    margin-left: 20px;
}

.footer img {
    margin-right: auto; /* Hace que la imagen se quede a la izquierda */
}




/*PORTAFOLIO*/

.portafolio {
    padding: 20px;
    text-align: center;
}

.portafolio h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}


.portafolio-item a {
    display: inline-block;
    margin-top: 10px;
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}




.portafolio-item {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%; /* Ajusta según el diseño */
    text-align: center;
}

.portafolio-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilo para las imágenes del portafolio */
.portafolio-img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 250px; /* Limita la altura máxima si es necesario */
    object-fit: contain; /* Hace que la imagen se ajuste y recorte adecuadamente */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 10px;
}

/* PORTAFOLIO Estilo para la sección de Tecnologías Utilizadas */
.tech-logos {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

.tech-logos img {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.tech-logos h3 {
    margin-bottom: 20px;
}

/*PORTAFOLIO TEXTO PRINCIPAL */



.portafolio-descripcion {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar del portafolio */
}

.portafolio-descripcion p {
    font-size: 18px;
    line-height: 1.6;
    color: #405261;
    margin: 0;
}

/*CONTACTO */


.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.contact-form button {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}



.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px; /* Ancho máximo */
    margin: 20px auto; /* Centrado y margen superior/inferior */
    padding: 30px; /* Aumentar el padding para un fondo más grande */
    background-color: #f4f4f4; /* Fondo gris claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.contacto-descripcion {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar del portafolio */
}

.contacto-descripcion p {
    font-size: 18px;
    line-height: 1.6;
    color: #405261;
    margin: 0;
}


/*SOPORTE */
.asistencia-container {
    display: flex; /* Usar Flexbox para organizar en fila */
    justify-content: space-around; /* Espacio entre columnas */
    background-color: #f4f4f4; /* Fondo gris claro */
    padding: 20px; /* Añadir espacio alrededor */
    border-radius: 8px; /* Bordes redondeados */
}

.asistencia-item {
    text-align: center; /* Centrar texto */
    flex: 1; /* Permitir que cada item ocupe espacio igual */
    margin: 10px; /* Margen entre los íconos */
}

.asistencia {
    text-align: center;
    margin: 20px 0;
}


.soporte-seccion {
    margin: 40px 0;
    padding: 20px;
    /* Sin fondo para que use el fondo de la página */
}


.asistencia-item img {
    width: 80px; /* Ajusta según sea necesario */
    height: auto;
}


.soporte-seccion img {
    max-width: 100px; /* Ajusta según sea necesario */
    height: auto;
}

.asistencia-descripcion {
    background-color: #f4f4f4; /* Mismo color de fondo que .asistencia-container */
    padding: 20px; /* Espacio alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    margin: 20px 0; /* Margen superior e inferior */
    width: calc(100% - 40px); /* Ancho del contenedor igual al de .asistencia-container */
    max-width: 1200px; /* O ajusta al ancho deseado */
    margin-left: auto; /* Centra el contenedor */
    margin-right: auto; /* Centra el contenedor */
}
